docker-stack/nodered/data/flows.json
[
    {
        "id": "tab_alvea",
        "type": "tab",
        "label": "Alvea",
        "disabled": false,
        "info": "Pipeline telemetria: MQTT -> soglie cliniche -> InfluxDB + alert MQTT.\nSottoscrive alvea/devices/+/telemetry (wildcard: tutti i device).\nScrive su InfluxDB via HTTP API v2 (nessun nodo contrib richiesto)."
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_alvea",
        "autoConnect": true,
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "tab_alvea",
        "name": "alvea/devices/+/telemetry",
        "topic": "alvea/devices/+/telemetry",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "json_parse"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "tab_alvea",
        "name": "parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "fn_eval"
            ]
        ]
    },
    {
        "id": "fn_eval",
        "type": "function",
        "z": "tab_alvea",
        "name": "Soglie + Line Protocol",
        "func": "// Alvea \u2014 valutazione soglie cliniche + scrittura InfluxDB (line protocol)\n//\n// NOTA: il dispositivo ha un solo sensore biomedicale, l'ECG (AD8232).\n// Da esso si derivano BPM e, via EDR, la frequenza respiratoria.\n//\n// Parametri biomedicali valutati (coerenti con backend/app/config.py):\n//   - respiration_rate: warning <14/>30, critico <=10/>=40 (allineata\n//     all'alert clinico reale del firmware, firmware/alerts.py:\n//     check_resp_rate)\n//   - bpm:              warning <70/>130, critico <=60/>=150 (puramente\n//     informativo: il firmware non genera un alert autonomo su BPM)\n//   - skin_temperature: warning <30.5/>35.0, critico <=29.0/>=36.0\n//     (temperatura CUTANEA misurata sulla caviglia, non corporea\n//     centrale: range coerente col simulatore firmware, ~31-34\u00b0C.\n//     Puramente informativo: il firmware non genera un alert autonomo\n//     su temperatura)\n\nconst r = msg.payload;\nif (!r || !r.device_id) { node.warn('payload non valido'); return [null, null]; }\n\n// Configurazione InfluxDB letta da variabili d'ambiente del container\nconst INFLUX_URL = env.get('INFLUX_URL') || 'http://influxdb:8086';\nconst ORG        = env.get('INFLUX_ORG')    || 'alvea';\nconst BUCKET     = env.get('INFLUX_BUCKET') || 'vitals';\nconst TOKEN      = env.get('INFLUX_TOKEN')  || 'alvea-admin-token';\n\n// --- Soglie cliniche (coerenti con config.py del backend FastAPI) ---\nconst RESP_WARN_LOW=14,  RESP_WARN_HIGH=30,  RESP_CRIT_LOW=10,  RESP_CRIT_HIGH=40;\nconst BPM_WARN_LOW=70,   BPM_WARN_HIGH=130,  BPM_CRIT_LOW=60,   BPM_CRIT_HIGH=150;\nconst T_WARN_LOW=30.5,   T_WARN_HIGH=35.0,   T_CRIT_LOW=29.0,   T_CRIT_HIGH=36.0;\nconst CONTACT_DEBOUNCE = 5; // secondi consecutivi senza contatto prima dell'allarme\n\nconst contact = r.sensor_contact;\nlet alerts = [];\n\nif (!contact) {\n    // Regola anti-panico: fascia staccata -> i valori sono 0, non valutare.\n    // Emetti allarme tecnico solo dopo CONTACT_DEBOUNCE letture consecutive.\n    let lost = (context.get('lost') || 0) + 1;\n    context.set('lost', lost);\n    if (lost === CONTACT_DEBOUNCE) {\n        alerts.push({kind:'contact_lost', severity:'technical',\n                     message:'Fascia non a contatto: rilevazione sospesa'});\n    }\n} else {\n    context.set('lost', 0);\n\n    // --- Frequenza respiratoria (parametro chiave per asma) ---\n    const resp = r.respiration_rate || 0;\n    if (resp > 0) {\n        if      (resp <= RESP_CRIT_LOW)  alerts.push({kind:'resp_low',  severity:'critical', message:'Apnea/bradipnea critica: '+resp+' atti/min', value:resp});\n        else if (resp >= RESP_CRIT_HIGH) alerts.push({kind:'resp_high', severity:'critical', message:'Tachipnea critica: '+resp+' atti/min', value:resp});\n        else if (resp <  RESP_WARN_LOW)  alerts.push({kind:'resp_low',  severity:'warning',  message:'Frequenza respiratoria bassa: '+resp+' atti/min', value:resp});\n        else if (resp >  RESP_WARN_HIGH) alerts.push({kind:'resp_high', severity:'warning',  message:'Frequenza respiratoria alta: '+resp+' atti/min', value:resp});\n    }\n\n    // --- Frequenza cardiaca ---\n    const bpm = r.bpm || 0;\n    if (bpm > 0) {\n        if      (bpm <= BPM_CRIT_LOW)  alerts.push({kind:'bpm_low',  severity:'critical', message:'Bradicardia critica: '+bpm+' BPM', value:bpm});\n        else if (bpm >= BPM_CRIT_HIGH) alerts.push({kind:'bpm_high', severity:'critical', message:'Tachicardia critica: '+bpm+' BPM', value:bpm});\n        else if (bpm <  BPM_WARN_LOW)  alerts.push({kind:'bpm_low',  severity:'warning',  message:'BPM sotto soglia: '+bpm, value:bpm});\n        else if (bpm >  BPM_WARN_HIGH) alerts.push({kind:'bpm_high', severity:'warning',  message:'BPM sopra soglia: '+bpm, value:bpm});\n    }\n\n    // --- Temperatura cutanea (caviglia, non temperatura corporea centrale) ---\n    const t = r.skin_temperature || 0;\n    if (t > 0) {\n        if      (t <= T_CRIT_LOW)  alerts.push({kind:'temp_low',  severity:'critical', message:'Temperatura cutanea molto bassa: '+t+' C', value:t});\n        else if (t >= T_CRIT_HIGH) alerts.push({kind:'temp_high', severity:'critical', message:'Temperatura cutanea molto alta: '+t+' C', value:t});\n        else if (t <  T_WARN_LOW)  alerts.push({kind:'temp_low',  severity:'warning',  message:'Temperatura cutanea bassa: '+t+' C', value:t});\n        else if (t >  T_WARN_HIGH) alerts.push({kind:'temp_high', severity:'warning',  message:'Temperatura cutanea alta: '+t+' C', value:t});\n    }\n}\n\n// --- InfluxDB Line Protocol (measurement = vitals) ---\n// Formato: measurement,tag=val field1=val1,field2=val2\n// I tag sono indicizzati (usati per filtrare in Grafana).\n// I field sono i valori numerici delle serie temporali.\nconst contactInt = contact ? 1 : 0;\nconst tags   = 'device_id=' + r.device_id +\n               ',source='   + (r.source || 'unknown') +\n               (r.patient_id ? ',patient_id=' + r.patient_id : '');\nconst fields = 'bpm='              + (r.bpm || 0) +\n               ',skin_temperature=' + (r.skin_temperature || 0) +\n               ',respiration_rate=' + (r.respiration_rate || 0) +\n               ',sensor_contact='   + contactInt + 'i' +\n               ',alert_count='      + alerts.length + 'i' +\n               (r.battery_pct != null ? ',battery_pct=' + r.battery_pct : '');\nconst line = 'vitals,' + tags + ' ' + fields;\n\n// Messaggio per il nodo http request -> InfluxDB\nconst influxMsg = {\n    method: 'POST',\n    url: INFLUX_URL + '/api/v2/write?org=' + ORG + '&bucket=' + BUCKET + '&precision=s',\n    headers: {\n        'Authorization': 'Token ' + TOKEN,\n        'Content-Type': 'text/plain; charset=utf-8'\n    },\n    payload: line\n};\n\n// Messaggio per il nodo mqtt out -> topic alerts (solo se ci sono alert)\nlet alertMsg = null;\nif (alerts.length > 0) {\n    node.status({fill:'red', shape:'dot', text: alerts[0].severity+': '+alerts[0].kind});\n    // Il topic viene costruito con il device_id reale\n    alertMsg = {\n        topic: 'alvea/devices/' + r.device_id + '/alerts',\n        payload: JSON.stringify({\n            device_id: r.device_id,\n            patient_id: r.patient_id || null,\n            ts: Date.now(),\n            alerts: alerts\n        })\n    };\n} else {\n    node.status({fill:'green', shape:'dot', text:'ok'});\n}\n\n// Output 1 -> InfluxDB, Output 2 -> MQTT alert\nreturn [influxMsg, alertMsg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "influx_write",
                "dbg_reading"
            ],
            [
                "mqtt_alert",
                "dbg_alert"
            ]
        ]
    },
    {
        "id": "influx_write",
        "type": "http request",
        "z": "tab_alvea",
        "name": "InfluxDB write",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 780,
        "y": 80,
        "wires": [
            [
                "dbg_influx"
            ]
        ]
    },
    {
        "id": "mqtt_alert",
        "type": "mqtt out",
        "z": "tab_alvea",
        "name": "alvea/devices/+/alerts",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 780,
        "y": 170,
        "wires": []
    },
    {
        "id": "dbg_reading",
        "type": "debug",
        "z": "tab_alvea",
        "name": "reading",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 780,
        "y": 30,
        "wires": []
    },
    {
        "id": "dbg_alert",
        "type": "debug",
        "z": "tab_alvea",
        "name": "alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 970,
        "y": 170,
        "wires": []
    },
    {
        "id": "dbg_influx",
        "type": "debug",
        "z": "tab_alvea",
        "name": "influx resp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 980,
        "y": 80,
        "wires": []
    }
]