docker-stack/nodered/data/flows.json
[
  {
    "id": "tab_pg",
    "type": "tab",
    "label": "Alvea",
    "disabled": false,
    "info": "Ingest telemetria MQTT -> soglie -> InfluxDB + alert.\nScrive su Influx via HTTP API v2 (nessun nodo contrib richiesto)."
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered_alvea",
    "autoConnect": true,
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "tab_pg",
    "name": "baby/data",
    "topic": "alvea/data",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 120,
    "wires": [
      [
        "json_parse"
      ]
    ]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "tab_pg",
    "name": "parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 300,
    "y": 120,
    "wires": [
      [
        "fn_eval"
      ]
    ]
  },
  {
    "id": "fn_eval",
    "type": "function",
    "z": "tab_pg",
    "name": "Soglie + Line Protocol",
    "func": "// Alvea :: valutazione soglie + scrittura InfluxDB (line protocol)\nconst r = msg.payload;\nif (!r || !r.device_id) { node.warn(\"payload non valido\"); return [null, null]; }\n\nconst INFLUX_URL = env.get(\"INFLUX_URL\") || \"http://influxdb:8086\";\nconst ORG    = env.get(\"INFLUX_ORG\")    || \"alvea\";\nconst BUCKET = env.get(\"INFLUX_BUCKET\") || \"vitals\";\nconst TOKEN  = env.get(\"INFLUX_TOKEN\")  || \"alvea-admin-token\";\n\n// Soglie cliniche (didattiche), coerenti con la documentazione\nconst BPM_WARN_LOW=100, BPM_WARN_HIGH=140, BPM_CRIT_LOW=80, BPM_CRIT_HIGH=170;\nconst T_WARN_LOW=36.0, T_WARN_HIGH=37.2, T_CRIT_LOW=35.0, T_CRIT_HIGH=38.5;\nconst CONTACT_DEBOUNCE = 5; // secondi consecutivi senza contatto\n\nconst contact = r.sensor_contact;\nlet alerts = [];\n\nif (!contact) {\n    // Regola d'oro: fascia staccata -> niente allarmi fisiologici, solo tecnico\n    let lost = (context.get('lost') || 0) + 1;\n    context.set('lost', lost);\n    if (lost === CONTACT_DEBOUNCE) {\n        alerts.push({kind:'contact_lost', severity:'technical',\n                     message:'Fascia non a contatto: rilevazione sospesa'});\n    }\n} else {\n    context.set('lost', 0);\n    const bpm = r.bpm, t = r.temperature;\n    if (bpm > 0) {\n        if (bpm <= BPM_CRIT_LOW)       alerts.push({kind:'bpm_low', severity:'critical', message:'Bradicardia critica: '+bpm+' BPM'});\n        else if (bpm >= BPM_CRIT_HIGH) alerts.push({kind:'bpm_high',severity:'critical', message:'Tachicardia critica: '+bpm+' BPM'});\n        else if (bpm <  BPM_WARN_LOW)  alerts.push({kind:'bpm_low', severity:'warning',  message:'BPM sotto soglia: '+bpm});\n        else if (bpm >  BPM_WARN_HIGH) alerts.push({kind:'bpm_high',severity:'warning',  message:'BPM sopra soglia: '+bpm});\n    }\n    if (t > 0) {\n        if (t <= T_CRIT_LOW)       alerts.push({kind:'temp_low', severity:'critical', message:'Ipotermia critica: '+t+' C'});\n        else if (t >= T_CRIT_HIGH) alerts.push({kind:'temp_high',severity:'critical', message:'Febbre alta: '+t+' C'});\n        else if (t <  T_WARN_LOW)  alerts.push({kind:'temp_low', severity:'warning',  message:'Temperatura bassa: '+t+' C'});\n        else if (t >  T_WARN_HIGH) alerts.push({kind:'temp_high',severity:'warning',  message:'Temperatura alta: '+t+' C'});\n    }\n}\n\n// --- Line protocol InfluxDB v2 (measurement = vitals) ---\nconst contactInt = contact ? 1 : 0;\nconst tags   = \"device_id=\" + r.device_id + \",source=\" + (r.source || \"unknown\");\nconst fields = \"bpm=\" + r.bpm + \",temperature=\" + r.temperature +\n               \",sensor_contact=\" + contactInt + \"i,alert_count=\" + alerts.length + \"i\";\nconst line = \"vitals,\" + tags + \" \" + fields;\n\nconst influxMsg = {\n    method: \"POST\",\n    url: INFLUX_URL + \"/api/v2/write?org=\" + ORG + \"&bucket=\" + BUCKET + \"&precision=s\",\n    headers: {\n        \"Authorization\": \"Token \" + TOKEN,\n        \"Content-Type\": \"text/plain; charset=utf-8\"\n    },\n    payload: line\n};\n\nlet alertMsg = null;\nif (alerts.length > 0) {\n    node.status({fill:\"red\", shape:\"dot\", text:alerts[0].severity+\": \"+alerts[0].kind});\n    alertMsg = {\n        topic: \"alvea/alerts\",\n        payload: JSON.stringify({device_id:r.device_id, ts:Date.now(), alerts:alerts})\n    };\n} else {\n    node.status({fill:\"green\", shape:\"dot\", text:\"ok\"});\n}\n\nreturn [influxMsg, alertMsg];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 120,
    "wires": [
      [
        "influx_write",
        "dbg_reading"
      ],
      [
        "mqtt_alert",
        "dbg_alert"
      ]
    ]
  },
  {
    "id": "influx_write",
    "type": "http request",
    "z": "tab_pg",
    "name": "InfluxDB write",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 760,
    "y": 90,
    "wires": [
      [
        "dbg_influx"
      ]
    ]
  },
  {
    "id": "mqtt_alert",
    "type": "mqtt out",
    "z": "tab_pg",
    "name": "baby/alerts",
    "topic": "",
    "qos": "0",
    "retain": "",
    "broker": "mqtt_broker",
    "x": 760,
    "y": 170,
    "wires": []
  },
  {
    "id": "dbg_reading",
    "type": "debug",
    "z": "tab_pg",
    "name": "reading",
    "active": false,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 770,
    "y": 40,
    "wires": []
  },
  {
    "id": "dbg_alert",
    "type": "debug",
    "z": "tab_pg",
    "name": "alert",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 960,
    "y": 170,
    "wires": []
  },
  {
    "id": "dbg_influx",
    "type": "debug",
    "z": "tab_pg",
    "name": "influx resp",
    "active": false,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 970,
    "y": 90,
    "wires": []
  }
]